PORT=3000
NODE_ENV=development

# PostgreSQL connection string
# Replace USER and PASSWORD with your credentials
DATABASE_URL="postgresql://USER:PASSWORD@njucuphic2n3rxnalopniv2w7y.dsql.ap-south-1.on.aws:5432/postgres?sslmode=require"
